# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore NumPy saved arrays
# *.npy

# Ignore system files (Mac & Linux)
.DS_Store
*.swp

# Ignore logs and temporary files
*.log
*.tmp
